{% load i18n %}
<div class="wrapper-comp-settings is-active editor-with-buttons certificatexblock_block" id="settings-tab">
    <ul class="list-input settings-list">
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="display_name">{% trans "Display Name" %}</label>
                <input class="input setting-input" name="display_name" id="certificate_edit_display_name" value="{{ display_name }}" type="text" />
            </div>
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="enable_email">{% trans "Send Certificate link into Email" %}</label>
                <select id="certificate_edit_enable_email">
                    <option value="True" {% if enable_email %}selected{% endif %}>{% trans "True" %}</option>
                    <option value="False" {% if not enable_email %}selected{% endif %}>{% trans "False" %}</option>
                </select>
                <label class="help-label">{% trans "Select True if you want to send certificate link into email." %}</label>
            </div>
        </li>
    </ul>
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">{% trans "Save" %}</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>
</div>